{
  "include": [
    "lib/"
  ],
  "extension": [
    ".js"
  ],
  "cache": true,
  "all": true,
  "default-excludes": true,
  "check-coverage": true,
  "skip-full": true,
  "statements": 100,
  "branches": 100,
  "functions": 100,
  "lines": 100
}